@{
    ViewData["Title"] = "Home Page";
    ViewData["BodyClass"] = "home-page";
}

<div class="title-container">
    <h1 class="pokemon-title hollow">
        <span>Who's That</span>
        <span>Pokémon?</span>
    </h1>
    <h1 class="pokemon-title solid">
        <span>Who's That</span>
        <span>Pokémon?</span>
    </h1>
</div>

<a asp-controller="Games" asp-action="Index" class="start-button">
    INICIAR
</a>
