/* Fuentes para titulo */
@font-face {
    font-family: 'Pokemon Solid';
    src: url('../fonts/Pokemon Solid.ttf') format('truetype');
}

@font-face {
    font-family: 'Pokemon Hollow';
    src: url('../fonts/Pokemon Hollow.ttf') format('truetype');
}

/*   Home      */
body.home-page {
    background-image: url('../images/HomeBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para el título */
.title-container {
    position: relative;
    text-align: center;
    padding-top: 10vh;
    width: 100%;
    height: 25vh;
}

.pokemon-title {
    font-weight: normal;
    margin: 0;
    position: absolute;
    width: 100%;

    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0.9;
}

.pokemon-title.hollow {
    font-family: 'Pokemon Hollow', sans-serif;
    color: #2a75bb;
    -webkit-text-stroke: 15px #003a70;

    text-shadow:
        3px 0 0 #003a70,
        -3px 0 0 #003a70,
        0 3px 0 #003a70,
        0 -3px 0 #003a70,
        2px 2px 0 #003a70,
        -2px -2px 0 #003a70,
        2px -2px 0 #003a70,
        -2px 2px 0 #003a70;

    font-size: 7vw;
}

.pokemon-title.solid {
    font-family: 'Pokemon Solid', sans-serif;
    color: #FFCB05;
    font-size: 7vw;
}

/* Botón */
.start-button {
    padding: 18px 60px;
    font-size: 32px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-weight: 900;
    color: white;
    background-color: #2f63d3;
    border: 3px solid #162c68;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
    margin-bottom: 40vh;
}

.start-button:hover {
    background-color: #4b1cb7;
    transform: translateY(-4px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}


/*   ClassicGame   */

body.classic-game-page {
    background-image: url('../images/grass_background.png');
    background-size: cover;
    background-repeat: repeat-y;  
    background-position: top center;
    background-attachment: fixed; 
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}
